@model Konzultacije.Models.Profesor
@{
	ViewBag.Title = "Index";
}

<br />
<div class="jumbotron">
	<h2>Dobrodošli profesore @Html.DisplayFor(Model => Model.Ime_I_Prezime)</h2>
	<p class="lead">
		Dobrodošli na stranicu za konzultacije. Ovjde možete odabrati sve opcije za profesore...
		
	</p>
</div>


<div class="row">

</div>