@model Konzultacije.Models.Student
@{
    ViewBag.Title = "Index";
}

<br/>
<h4>Dobrodosli kolega @Html.DisplayFor(Model => Model.Ime_I_Prezime)</h4>

<div class="bg-info rounded form-group text-secondary" >
	
</div>

<div class="container">
	<div class="row col-9">
			
	</div>

</div>






