@{
	ViewBag.Title = "O projektu";
}
<br/>
<h2>@ViewBag.Title.</h2>
<br/>

<div>
	<div class="col-md-12">
		<h5>Informacije o projektu</h5>
		<p>Za potrebe rada aplikacije i zapisivanja podataka o poslanim podacima o potrošnji, 
		koristi se MySQL baza podataka. Web aplikacija je izrađena u MS .NET MVC tehnologiji.</p>
	</div>

	<div class="col-md-12">
		<h5>Opis projekta</h5>
		<p>U aplikaciji se vode informacije o profesorima, njihovim terminima konzultacija s obzirom na kolegij te
		studentima koji imaju uvid u termine te mogu putem aplikacije zatražiti termin konzultacije i poslati upit.</p>
	</div>

	<div class="col-md-12">
		<h5>Cilj projekta</h5>
		<p>
			Cilj ovog projekta je razvoj kvalitetne web aplikacije za vođenje informacija o
			konzultacijama te mogućnost najava studenata za termin konzultacije.
		</p>
	</div>
</div>

<div class="row">
	@Html.ActionLink("Kontakt developera ove aplikacije", "Contact", "Home", null, new { @class = "btn btn-primary" })
</div>
<br />
	<div class="row">
		@Html.ActionLink("Natrag na početnu »", "Index", "Home", null, new { @class = "btn btn-info" })
	
</div>