@{
	ViewBag.Title = "Kontakt developera";
}
<br/>
<h2>@ViewBag.Title.</h2>


<address>
	Travnicka 40<br />
	40 000 Cakovec, HR <br />
	<abbr title="Phone">P:</abbr>
	425.555.0100
</address>

<address>
	<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
	<strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>