
@{
	ViewBag.Title = "Home Page";
}

<div class="jumbotron">
	<h1>Pozdrav studenti i profesori</h1>
	<p class="lead">Dobrodošli na stranicu za konzultacije Međimurskog veleučilišta u Čakovcu.</p>
	<p>@Html.ActionLink("Prijava", "Login", "Account","Home", new {@class="btn btn-dark"})</p>
</div>

<div class="row">
	<div class="col-md-6">
		<h2>Termini konzultacija</h2>
		<p>
			Ovdje se nalazi detaljan pregled i informacije svih objavljenih termina konzultacija te mogucnost filtriranja informacija po upisanom pojmu.
		</p>
		<!--<p>@*Html.ActionLink()*@</p>-->
	</div>
	<div class="col-md-6">
		<h2>O projektu</h2>
		<p>Ovaj projekt je napravila grupa učenika s Međimurskog veleučilišta u Čakovcu.</p>
		<p>@Html.ActionLink("Saznaj više »", "About", "Home", new {@class = "btn btn-dark" })</p>
	</div>
	
</div>